body {
background-color: white;
font: Monaco;
font-family: 'Courier New', Courier, monospace;
}

header {
    background-color: #A4BE7B;
    position: relative;
    margin: auto;
    top: 0;
    width: 100%;
    padding: 20px;
    text-align: center;
}

.recipes-list {
    list-style-type: none;
    overflow: hidden;
    
    
}

.recipes-list li {
    padding: 10px;
    display: inline-block;
    justify-content: center;
    background-color: #A4BE7B;
    border-radius: 15px;
    margin: 20px;
}

.home-menu {
    padding: 20px;
}

h1 {
    text-align: center;
}

p{
    text-align: center;
}

img {
    border-radius: 15px;

}

a:hover {
    background-color: #4a5b30;
}

footer {
    background-color: #A4BE7B;
    color: white;
    position: relative;
    margin: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    text-align: center;
    
}

 #homepagefooter {
    position: fixed;
} 


