body {
background-color: white;
}
header {
    background-color: #E28F83;
    position: relative;
    margin: auto;
    top: 0;
    width: 100%;
    padding: 20px;
    text-align: center;
}

h1 {
    text-align: center;
}

p{
    text-align: center;
}

img {
    border-radius: 15px;

}

footer {
    background-color: #E28F83;
    color: white;
    position: relative;
    margin: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    text-align: center;
    
}

#homepagefooter {
    position: fixed;
}
