body {
    background-color: #F0E9D2;
}
h1 {
    text-align: center;
    color: #181D31;
}

p{
    text-align: center;
}
img{
    
}
footer {
    background-color: #678983;
    color: white;
    position: relative;
    margin: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    text-align: center;
    
}